  body {
    background: #fafafa;
    color: #333333;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
  }

  h2, h3, h4, h5, h6 {
    color: #444444;
  }

  h1{
    margin: 1em;
    color:#444444;
    letter-spacing: .2rem;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .profile-img {
    height: 677px;
    width: 518px;
    margin-right: 16px;
  }
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #fafafa;
    color: #444444;
  }

  .nav-item.nav-link {
    color:#444444;
  }

  .fixed-height {
    height: 400px;  /* Set your desired fixed height */
    object-fit: cover;
    z-index: 0; 
  }

  .maintxt {
    background-image: url("sofa.jpg");
    background-size: cover;
    background-position: center center;
    height: 400px; /* Set your desired height */
    width: 100%; /* Ensures the image covers the full width of the container */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */    
  }

  .maintxt h4 {
    text-align: center; /* Center the text horizontally */
  }