{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row" style="margin-top: 3rem;">    
        <div class="col-lg-2 order-lg-2 d-flex flex-column align-items-center">
            <div>
                <img class="img-fluid mx-auto" style="max-width: 180px; margin-bottom: 0.3rem;" src="/static/profile.JPG">
            </div>
            <div>
                <a href="https://www.psychologytoday.com/profile/1265982" target="_blank">
                    <img class="img-fluid mx-auto" style="max-width: 180px;" src="/static/badge.png">
                </a>
            </div>       
        </div>
        <div class="col-lg-10">
            <p class="text-left"><strong>I am registered with the Australian Health Practitioner Regulation Angency (AHPRA) with an endorsement in Clinical Psychology.</strong> I completed a Ph.D. in the Department of Psychological Medicine at the University of Auckland.
            </p>
            <p class="text-left">My doctoral work focuses on youth mental health and therapy. Previously trained in
                Clinical Psychology at the Palo Alto University in California, USA, I have worked in a
                wide range of clinics. I have an eclectic therapeutic approach that primarily includes
                Acceptance and Commitment Therapy (ACT) or mindfulness-based CBT with a take
                on Psycho-dynamic perspective to facilitate holistic healing.
            </p>
            <p>
                I have the following clinical experiences in Taiwan, New Zealand and Australia, as well as the United States of America:
            </p>
            <ul>
                <li style="margin-bottom: 10px">Provided psychological assessment reports to patients with mental health needs and psychosocial disability, to support their National Disability Insurance Schemes (NDIS) or Disability Support Pension (DSP) applications in Australia.</li>
                <li style="margin-bottom: 10px">
                    Worked as Behavioural Health Consultant to support the primary healthcare team to improve their patient experience and behavioural health. My primary working modality in this role was the Acceptance and Commitment Therapy (ACT).
                </li>
                <li style="margin-bottom: 10px">
                    Worked as New Zealand ACC registered sexual trauma therapist. I provided psychological treatment to clients that experienced sexual violence and abuse.
                </li>
                <li style="margin-bottom: 10px">
                    Worked as clinical psychologist at a high security prison. I provided psychological assessment reports to assist the New Zealand Parole Board (NZPB) in determining prisoners’ risk of violent/sexual reoffending, rehabilitative needs, and appropriate rehabilitative pathways, as well as their eligibility for parole. I also provided psychological treatment to those identified by the NZPB with high risk of violent/sexual reoffending and complex rehabilitative needs.
                </li>
                <li style="margin-bottom: 2rem">
                    Worked as Clinical Psychologist at community mental health centres, university counselling centres, alcohol/ other drugs treatment services, psychiatric hospitals, and private practice. 
                </li>
            </ul>
        </div>
    </div>

    <h3><strong>Interest</strong></h3>
    <ul style="list-style-type: none">
        <li style="margin-bottom: 10px">Depression, Anxiety, Obsessive-Compulsive Disorders(OCDs)</li>
        <li style="margin-bottom: 10px">Psychological stress or trauma related issues</li>
        <li style="margin-bottom: 10px">Concerns of ethnic minority and immigrants</li>
        <li style="margin-bottom: 10px">LGBT wellbeing</li>
        <li style="margin-bottom: 10px">Forensic psychology</li>
    </ul>
    <h3 style="margin-top: 2rem;"><strong>Qualifications</strong></h3>
    <ul style="list-style-type: none">
        <li style="margin-bottom: 10px">Ph.D. In Health Sciences, The University of Auckland, Auckland, New Zealand<br>
            2015 - 2019</li>
        <li style="margin-bottom: 10px">M.S. In Clinical Psychology, Palo Alto University, California, USA<br>
            2005 - 2008</li>
        <li style="margin-bottom: 10px">New Zealand Psychologists Board<br>
            2015 - the present</li>
        <li style="margin-bottom: 10px">Australian Health Practitioner Regulation Agency(AHPRA)<br>
            2019 - the present</li>
        <li style="margin-bottom: 10px">Department of Health, Executive Yuan of Taiwan<br>
            2013 - the present</li>
    </ul>
</div>
<div class="container" style="margin-top: 5rem; margin-bottom: 10rem;">
    <div class="row">
        <div class="col-lg-6 order-lg-2">
            <h3 class="text-center">Book Your Session</h3>
            <form action="/submit" method="post">
                <div class="row">
                        <div class="form-group col">
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
                        </div>
                        <div class="form-group col">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                        </div>
                </div>
                <div class="row">
                        <div class="form-group col">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                        </div>
                        <div class="form-group col">
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
                        </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" id="message" name="message" placeholder="Message" rows="4"></textarea>
                </div>
                <div class="form-group col text-right"> <!-- Add this div with text-right class -->
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
              </form>
        </div>
        <div class="col-lg-6">
            <h3 style="margin-bottom: 1rem;">Contact Xavier</h3>
            <p>For more information you can contact me:</p>
            <p>Dr. Xavier Chiang Ph.D.<br>
            Email: <a href="mailto:drxavierchiang@gmail.com">drxavierchiang@gmail.com</a><br>
            Phone: (03) 9994 1765<br>
            Address: 50 Dudley Street, West Melbourne, VIC 3003<br>
            </p>
        </div>
    </div>
</div>
{% endblock content %}