{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row" style="margin-top: 3rem;">    
        <div class="col-lg-2 order-sm-2 d-flex align-items-center">
            <img class="img-fluid mx-auto" style="max-width: 180px; margin-bottom: 1.1rem;" src="/static/profile.JPG">
        </div>
        <div class="col-lg-10">
            <p class="text-left">Xavier Chiang is a clinical psychologist registered in New Zealand, Australia and Taiwan. He completed a Ph.D. in the Department of Psychological Medicine at the University of Auckland.
            </p>
            <p class="text-left">His Ph.D. work focused on youth mental health and psychological therapy. Previously trained in clinical psychology at Palo Alto University, California, America, he has worked in a wide range of clinical settings in cluding correctional facility, psychiatric hospitals, community mental health centres, university counselling centres, and substance abuse treatment programmes.
            </p>
            <p class="text-left">Xavier has an eclectic therapeutic approach that primarily includes mindfulness-based Cognitive Behavioural Therapy (CBT) with a take on psychodynamic perspective. He can provide services in English and Mandarin.
            </p>
        </div>
    </div>

    <h3><strong>Interest</strong></h3>
    <ul style="list-style-type: none">
        <li style="margin-bottom: 10px">Depression, Anxiety, Obsessive-Compulsive Disorders(OCDs)</li>
        <li style="margin-bottom: 10px">Psychological stress or trauma related issues</li>
        <li style="margin-bottom: 10px">Concerns of ethnic minority and immigrants</li>
        <li style="margin-bottom: 10px">LGBT wellbeing</li>
        <li style="margin-bottom: 10px">Forensic psychology</li>
    </ul>
    <h3 style="margin-top: 2rem;"><strong>Qualifications</strong></h3>
    <ul style="list-style-type: none">
        <li style="margin-bottom: 10px">Ph.D. In Health Sciences, The University of Auckland, Auckland, New Zealand<br>
            2015 - 2019</li>
        <li style="margin-bottom: 10px">M.S. In Clinical Psychology, Palo Alto University, California, USA<br>
            2005 - 2008</li>
        <li style="margin-bottom: 10px">New Zealand Psychologists Board<br>
            2015 - the present</li>
        <li style="margin-bottom: 10px">New Zealand Psychological Society<br>
            2021 - the present</li>
        <li style="margin-bottom: 10px">Australian Health Practitioner Regulation Agency(AHPRA)<br>
            2019 - the present</li>
        <li style="margin-bottom: 5rem">Department of Health, Executive Yuan of Taiwan<br>
            2013 - the present</li>
    </ul>
</div>
{% endblock content %}