{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h5 class="text-center" style="margin-top: 3rem;">Focused Acceptance and Commitment Therapy</h5>
 
  <p class="text-left" style="margin-top: 2.0rem;">  “Life is one big symptom generator! When you
    stop having symptoms, that’s the day you are
    declared DOA” Strosahl, Robinson and Gustavsson (2012; p.51)</p>
  <p class="text-left" style="margin-top: 2.0rem;">  The newly developed Focused Acceptance and Commitment Therapy (FACT) is the marriage between the GP care and psychology practice for the best interest of our client populations. </p>
  <p class="text-left">  The FACT encourages a shift of thinking so that our clients can learn to become more flexible and resilent psycholigcally, and are able to commit into a preferred lifestyle that is in line with their core values and eventually will give them a greater sense of joy and wellbeing.</p>
  <a href="/blog" class="btn btn-primary" style="margin-bottom: 6rem;">Back to List</a>

</div>
{% include 'form.html' %}
{% endblock content %}