{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h3 class="text-center" style="margin-top: 2rem; margin-bottom: 2rem;"><strong>Blog</strong></h3>
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="margin-bottom: 1rem;">
        <div class="card-body">
          <h5 class="card-title">性侵Sexual Trauma與創傷後壓力症候群Post Traumatic Stress Disorders (PTSD)</h5>
          <p class="card-text">人在一生中會遭到各式各樣不同的心理傷害trauma，比如車禍，天災，失去工作等等。然而性侵往往會造成嚴重且長期性的心理障礙...</p>
          <a href="/blog1" class="btn btn-success">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="margin-bottom: 1rem;">
        <div class="card-body">
          <h5 class="card-title">聚焦的 接納與承諾療法 Focused Acceptance and Commitment Therapy</h5>
          <p class="card-text">聚焦的 接納與承諾療法 FACT 主要是由一群美國的心理師如Kirk Strosahl and Patti Robinson，發展演化出的。主要是為...</p>
          <a href="/blog2" class="btn btn-success">Read More</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 5rem;">
    <div class="col-sm-6">
      <div class="card" style="margin-bottom: 1rem;">
        <div class="card-body">
          <h5 class="card-title">Focused Acceptance and Commitment Therapy</h5>
          <p class="card-text">“Life is one big symptom generator! When you
            stop having symptoms, that’s the day you are
            declared DOA” Strosahl, Robinson and Gustavsson (2012; p.51)...</p>
          <a href="/blog3" class="btn btn-success">Read More</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="margin-bottom: 1rem;">
        <div class="card-body">
          <h5 class="card-title">Diagnostic Assessment for the NDIS 或ACC supports 經驗談 Part One</h5>
          <p class="card-text">今天我們來說說心理學診斷報告撰寫的訣竅之經驗談。首先必須要提的是，心理診斷學是一門非常深澳的學問，在美國是只有碩博士...</p>
          <a href="/blog4" class="btn btn-success">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'form.html' %}
{% endblock content %}