{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h5 class="text-center" style="margin-top: 3rem;">Diagnostic Assessment for the NDIS 或ACC supports 經驗談 Part One</h5>
 
  <p class="text-left" style="margin-top: 2.0rem;">今天我們來說說心理學診斷報告撰寫的訣竅之經驗談。首先必須要提的是，心理診斷學是一門非常深澳的學問，在美國是只有碩博士生才能選修的。</p>
  <p class="text-left" style="margin-top: 2.0rem;">當我們心理師在為病人考量診斷的需求時，不光需要看症狀群是否符合診斷手冊。我們同時需考量個人歷史因素history, 家庭因素family background， 身體與醫療medical history， 以及家庭成員與醫療團隊的意見。 更重要的是， 現實因素的考量，診斷的項目往往與政府社福補貼的規範相互連結。許多與NDIS or ACC的溝通協調更是很重要的一項。</p>
  <p class="text-left">另外在測驗工具的選擇上也是門學問。待續中。</p>
  <a href="/blog" class="btn btn-primary" style="margin-bottom: 6rem;">Back to List</a>

</div>
{% include 'form.html' %}
{% endblock content %}