{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h5 class="text-center" style="margin-top: 3rem;">聚焦的 接納與承諾療法 Focused Acceptance and Commitment Therapy</h5>
 
  <p class="text-left" style="margin-top: 2.0rem;">聚焦的 接納與承諾療法 FACT 主要是由一群美國的心理師如Kirk Strosahl and Patti Robinson，發展演化出的。主要是為因應大量GP診所，要能快速給病患提供幫助而產生的。</p>
 
  <p class="text-left">因為GP往往需要面前很多困難的生理病痛，外加病患情緒上的困擾，現今Medicare 的制度又無法讓GP給每個病患很多元化的幫助。在這困局之下，心理師變有了介入的空間。</p>
 
  <p class="text-left">FACT的要訣是 快， 狠， 準。 GP 轉介完病患後，心理師當天提供諮詢，面談通常為一次性，半小時內完成。心理師需在這session內很快的確定assess 問題，並討論治療方案。根據Patti Robinson的研究報告顯示。這一次次的session與傳統CBT好幾次的效果是一樣的。且不需病患回診。天呀，那這樣我們沒辦法做生意了。</p>
 
  <p class="text-left">待續 #身心灵疗愈 #身心灵 #能量疗愈 #心理 #心理 #脑科学</p>

  <a href="/blog" class="btn btn-success" style="margin-bottom: 6rem;">Back to List</a>

</div>
{% include 'form.html' %}
{% endblock content %}