{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h5 class="text-center" style="margin-top: 3rem;">性侵Sexual Trauma與創傷後壓力症候群Post Traumatic Stress Disorders (PTSD)</h5>
 
  <p class="text-left" style="margin-top: 2.0rem;">人在一生中會遭到各式各樣不同的心理傷害trauma，比如車禍，天災，失去工作等等。然而性侵往往會造成嚴重且長期性的心理障礙。</p>
 
  <p class="text-left">首先刻版印象會說，只有女性才會被性侵，其實不然。統計數據顯示被性侵的男性也不在少數，也有些性別多元的個體transgender是受害者，更多的受害者是未成年的孩子們。</p>
 
  <p class="text-left">性侵Sexual Trauma 與一般的trauma最大的不同點在於其道德隱晦性，是羞愧的，且難以啟齒，不光是加害者絕不認罪，往往連受害者都難以接受自己被性侵的事實。在臨床觀察上，我們常可看見病患在一再的逃避之下，發展出Complex PTSD的疾病。</p>
 
  <p class="text-left" style="margin-bottom: 6rem;">Complex PTSD病不是在現有的精神疾病診斷手冊DSM，中的一個病名。它的嚴重性比較接近人格疾病Personality Disorders，病患在認知思考，情緒與人際功能上會有很可怕程度的長期性損傷。臨床上我們可看到有些病患因為以前被強迫口交的關係，現在害怕吞藥丸，或是吃條狀食物，需要靠液體飲食存活，另有些病患則害怕談戀愛，無法成家。</p>
</div>
{% include 'form.html' %}
{% endblock content %}