{% extends "layout.html" %}
{% block content %}
    <p class="text-left">江思穎是在紐西蘭註冊合格的臨床心理師，具有奧克蘭大學博士學位。</p>
    <p class="text-left">過去曾在美國加州的帕羅奧圖大學就讀臨床心理學，並在台灣，美國，和紐西蘭各種類型的臨床院所工作，
        例如精神科醫院、社區心理衛生中心、大學諮商中心，物質濫用治療所，與焦慮症診所.    </p>
    <p class="text-left">我的主要治療取向為認知行為治療，同時也參考了心理動力學派的觀點。我可以用中文 (普通話)和英文提供服務。在閒暇之餘，我享受與家人朋友相聚的時光，音樂，各種運動與戶外活動和旅行。
    </p>

    <h3>我可以提供這些支持：</h3>
    <ul>
        <li>抑鬱症<br>
            情緒低落或不穩定；自我價值感低，無助感；悲傷；缺乏動力；心理創傷、哀傷和失落感</li>
        <li>焦慮<br>
            社交恐懼症；一般性的焦慮；健康的焦慮；<br>
            完美主義的想法；恐慌發作；特定性的恐懼</li>
        <li>強迫性傾向<br>
            侵入的和不想要的想法；重複性的或儀式化的行為；過度的道德感或無法控制的內疚</li>
        <li>發展和認同困擾<br>
            自我認同；青年心理髮展；文化、性別和/或性少數人群的困擾；移民和少數民族心理健康</li>
    </ul>

    <h3>SERVICES | OFFER</h3>
    <ul>
        <li>心理治療 - $180<br>
            心理治療是指使用心裡方法來改善思維、情緒和行為。目的是促進最佳的心理健康、復原力和幸福。</li>
        <li>初始諮詢 - $180<br>
            這次會診是治療的基礎。在這個過程中，我們一起討論你需要的心理健康需求。</li>
        <li>ACC保險的服務<br>
            在ACC的支持下，我為性侵受害者提供治療。</li>
    </ul>
{% endblock content %}