{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h5 class="text-center" style = "margin-top: 2.5rem"><strong>Counselling Room</strong></h5>
    <div class="row" style="margin-bottom:1rem">
        <div class="col-lg-6" style="margin-bottom: 1rem;">
            <img  class="img-fluid" src="/static/room2.png">
        </div>
        <div class="col-lg-6" style="margin-bottom: 1rem;">
            <img  class="img-fluid" src="/static/room1.png">
        </div>
        <div class="col-lg-6" style="margin-bottom: 1rem;">
            <img  class="img-fluid" src="/static/room3.png">
        </div>
        <div class="col-lg-6" style="margin-bottom: 1rem;">
            <img  class="img-fluid" src="/static/room4.png">
        </div>
    </div>
</div>
{% include 'form.html' %}
{% endblock content %}
