{% extends "layout.html" %}
{% block content %}
    <!-- <h1 class="text-center">FAQ</h1> -->
    <div class="container" style="margin-top: 3rem; margin-bottom: 11rem;">
        <p><strong>Are you GST registered? How do you collect the payment?</strong><br>
        I am not GST registered. I usually invoice my clients at the end of each session.</p>
        <p><strong>How long does each session take?</strong><br>
        A session typically lasts 50 minutes.</p>
        <p><strong>Do you offer sliding scale rates or other discount programmes?</strong><br>
        No. There are however a number of opportunities for funding you can consider, such as insurance, Disability Allowance, Studylink, ACC or employment benefits.</p>
        <p><strong>Can anyone find out what's discussed in session?</strong><br>
        All the sessions are strictly confidential. I can't disclose any details of our engagement without your prior consent. However, in case of the risk to self or others I amy need to work with you in session to report to the appropriate authorities to ensure your safety.</p>
        <p><strong>What is the FACT?</strong><br>
        “Life is one big symptom generator! When you
            stop having symptoms, that’s the day you are
            declared DOA” Strosahl, Robinson and Gustavsson (2012; p.51)<br>
            The newly developed Focused Acceptance and Commitment Therapy (FACT) is the marriage between the GP care and psychology practice for the best interest of our client populations. <br>
            The FACT encourages a shift of thinking so that our clients can learn to become more flexible and resilent psycholigcally, and are able to commit into a preferred lifestyle that is in line with their core values and eventually will give them a greater sense of joy and wellbeing.</p>
        <p><strong>What is Time Limited Psychodynamic Psychotherapy?</strong><br>
            Time Limited Psychodynamic Psychotherapy (TLPP) is relationship focused and evidence based therapy approach. <br>Unlike traditional psychodynamic therapies, this new approach places a strong emphasis on the active role of the therapist, and the accurate capturing of reenactment as well as the good use of transference vs counter-transference while in session. <br>Even though TLPP does not claim to target symptom reduction, their clients can often experience a great deal of relief in psychological symptoms after a short period of treatment exposure.</p>
        <p><strong>What is intersecting identity?</strong><br>
            Many overseas Chinese queer people feel the struggles as if they are in the middle of a sandwich. They face pressure from both sides. There are traditional cultural expectations from their upbringing on one hand. There are also pressure to acclimate to the Western Individualistic cultures in Australia on the other hand.</p>
    </div>
{% include 'form.html' %}
{% endblock content %}