{% extends "layout.html" %}
{% block content %}
    <!-- <h1 class="text-center">FAQ</h1> -->
    <div class="container" style="margin-top: 3rem">
        <div class="row">
            <div class="col-lg-6">
                <p><strong>Are you GST registered? How do you collect the payment?</strong></p>
                <p>I am not GST registered. I usually invoice my clients at the end of each session.</p>
            </div>
            <div class="col-lg-6">
                <p><strong>How long does each session take?</strong></p>
                <p>A session typically lasts 50 minutes.</p>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 1rem; margin-bottom: 18rem;">
        <div class="row">
            <div class="col-lg-6">
                <p><strong>Do you offer sliding scale rates or other discount programmes?</strong></p>
                <p>No. There are however a number of opportunities for funding you can consider, such as insurance, Disability Allowance, Studylink, ACC or employment benefits.</p>
            </div>
            <div class="col-lg-6">
                <p><strong>Can anyone find out what's discussed in session?</strong></p>
                <p>All the sessions are strictly confidential. I can't disclose any details of our engagement without your prior consent. However, in case of the risk to self or others I amy need to work with you in session to report to the appropriate authorities to ensure your safety.</p>
            </div>
        </div>
    </div>
{% endblock content %}