{% extends "layout.html" %}
{% block content %}
<div class="contaier">
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-centered">
            <div class="maintxt fixed-height">
                <h1 class="text-center" style="color: white"><strong>Clinical Psychology Consulting</strong></h1>
                <h5 class="text-center" style="color: white"><strong>A specialist practice in the areas of identity and developmental struggles, concerns of cultural <br>and sexual or gender diversity including cultural integration, psychological trauma, and identity development.</strong></h5>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 2rem">
        <p class="d-flex justify-content-left home-paragraph"> Perhaps you&#39;re down or anxious - maybe you&#39;re unsure about the future, or just feel
            that you aren&#39;t living the life you were meant to lead. Whatever your needs may be, I
            am here to support. </p>
        <p class="d-flex justify-content-left home-paragraph">Therapy is a process of growth and self-discovery. In my sessions, I promote holistic
            behavioral transformation by encouraging an action-focused/ value-driven attitudes
            and reactions.</p>
        <p class="d-flex justify-content-left home-paragraph"><strong>Registered MediCare and Victoria WorkSafe Provider.</strong></p>
        <p class="d-flex justify-content-left home-paragraph"><strong>You may be eligible for a MediCare/WorkSafe Rebate or private insurance if referred by your GP.</strong></p>
        <p class="d-flex justify-content-left home-paragraph">Available in English and Mandarin Chinese.</p>

        <h3 class="d-flex justify-content-center" style="margin-top: 2.5rem; margin-bottom: 3rem">I CAN SUPPORT WITH</h3>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <img  class="img-fluid" src="/static/dandelion.jpg">
                </div>
                <div class="col-lg-3">
                    <p class="text-center" style="margin-top: 0.5rem; margin-bottom:0.5rem"><strong>DEPRESSION</strong></p>
                    <p>Low or unstable moods; feelings of low self-worth,
                        helplessness; sadness; lack of motivation; mental injury, or grief and loss.</p>
                </div>
                <div class="col-lg-3">
                    <img  class="img-fluid" src="/static/cake.jpg">
                </div>
                <div class="col-lg-3">
                    <p class="text-center" style="margin-top: 0.5rem; margin-bottom:0.5rem"><strong>ANXIETY</strong></p>
                    <p>Social anxiety; generalized anxiety; health anxiety;
                        perfectionistic thinking; chronic depression and panic attacks.</p>
                </div>
            </div>
            <div class="row" style="margin-top: 3rem; margin-bottom:1rem">
                <div class="col-lg-3">
                    <img  class="img-fluid" src="/static/stones.jpg">
                </div>
                <div class="col-lg-3">
                    <p class="text-center" style="margin-top: 0.5rem; margin-bottom:0.5rem"><strong>OBSESSIVE AND COMPULSIVE TENDENCIES</strong></p>
                    <p>Distressing intrusive and
                        unwanted thoughts; repetitive or ritualistic behaviour; excessive consciousness or
                        uncontrollable guilt.</p>
                </div>
                <div class="col-lg-3">
                    <img  class="img-fluid" src="/static/fruit.jpg">
                </div>
                <div class="col-lg-3">
                    <p class="text-center" style="margin-top: 0.5rem; margin-bottom:0.5rem"><strong>DEVELOPMENTAL AND IDENTITY STRUGGLES</strong></p>
                    <p>Psychosocial trauma,
                        multiple identity; youth mental development; concerns of cultural and
                        gender/sexual minority. These are the areas critically linked to reclaim “takatāpui” –
                        “to be all of who we are.”</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 5rem; margin-bottom: 10rem;">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <h3 class="text-center">Book Your Session</h3>
                <form action="/submit" method="post">
                    <div class="row">
                            <div class="form-group col">
                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
                            </div>
                            <div class="form-group col">
                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                            </div>
                    </div>
                    <div class="row">
                            <div class="form-group col">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                            </div>
                            <div class="form-group col">
                                <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
                            </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea type="text" class="form-control" id="message" name="message" placeholder="Message" rows="4"></textarea>
                    </div>
                    <div class="form-group col text-right"> <!-- Add this div with text-right class -->
                        <button type="submit" class="btn btn-secondary">Submit</button>
                    </div>
                  </form>
            </div>
            <div class="col-lg-6">
                <h3 style="margin-bottom: 1rem;">Contact Xavier</h3>
                <p>For more information you can contact me:</p>
                <p>Dr. Xavier Chiang Ph.D.<br>
                Email: <a href="mailto:drxavierchiang@gmail.com">drxavierchiang@gmail.com</a><br>
                Phone: (03) 9994 1765<br>
                Address: 50 Dudley Street, West Melbourne, VIC 3003<br>
                </p>
            </div>
        </div>
    </div>
    
{% endblock content %}