{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row" style="margin-top: 3rem;">    
    <div class="col-lg-2 order-lg-2 d-flex flex-column align-items-center">
        <div>
            <img class="img-fluid mx-auto" style="max-width: 200px; margin-bottom: 0.3rem;" src="/static/fishpatato.png">
        </div>    
    </div>
    <div class="col-lg-10">
      <h3 class="text-center" style = "margin-bottom: 1.5rem"><strong>The Statement of Philosophy</strong></h3>
      <p class="text-left">Growing up in Taiwan, I deeply appreciate the value of kotahitanga for the long-term prosperity of humanity. This core value has served me well while in Taiwan, the United States of America, New Zealand, and Australia.
      </p>
      <p class="text-left">In our practice, we believe in the good use of biculturalism and multiculturalism to promote the mental health and well-being of our clients. We value the socio-economic, neurological, sexual or gender diversity and cultural differences, and we do not allow any of these differences to divide us and compromise the care we deliver.
      </p>
      <p class="text-left">As a specialist practice, we strive to promote the holistic and evidence-based approach of services. We encourage the integration of minority cultural values and modern scientific paradigm in the application of our psychological practice.
      </p>
      <p class="text-left">As part of katahitanga inspiration, we value true partnership and collaboration. Here, you will be welcomed as part of our big family, regardless of your individual background or circumstance. We will support you with the utmost respect and professionalism. 
      </p>
    </div>
</div>

  <div style="display: flex; align-items: center; margin-top: 1.5rem; margin-bottom:0.8rem;">
    <img style="max-width: 33.6px; margin-right: 10px;" src="/static/blueprint.png" alt="Blueprint Image">
    <h3 style="margin-top: 0; margin-bottom: 0;"><strong>Kotahitanga</strong></h3>
  </div>
  <ul style="margin-bottom: 10rem;">
    <li style="margin-bottom: 10px">diversity and inclusion for unity and prosperity</li>
    <li style="margin-bottom: 10px">biculturalism and multiculturalism</li>
    <li style="margin-bottom: 10px">integration of values and scientific, evidence-based principles.</li>
    <li style="margin-bottom: 10px">Partnership and collaboration.</li>
  </ul>
</div>
{% endblock content %}