{% extends "layout.html" %}
{% block content %}
<div class="container" style="margin-top: 3rem; margin-bottom: 15rem;">
    <h3 class="text-center"><strong>SERVICES | OFFER</strong></h3>
    <p class="text-center"><small>Personalized Care and Guidance</small></p>

    <div class="row" style="margin-top: 5rem">
        <div class="col-lg-3 d-flex align-items-center">
            <img class="img-fluid mx-auto" style="max-width: 255px; margin-bottom: 1.1rem;" src="/static/coffee.jpg">
        </div>
        <div class="col-lg-9 d-flex align-items-center">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <p class="text-center"><strong>Initial Consultation - $250</strong></p>
                        <p>This consultation forms the foundation for therapy. During this session, we work together to clarify your ongoing treatment needs and establish whether I am the right psychologist for you.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-center d-lg-none">
                    <img class="img-fluid mx-auto" style="max-width: 255px; margin-bottom: 1.1rem;" src="/static/flower.jpg">
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <p class="text-center"><strong>Psychological Therapy - $250</strong></p>
                        <p>Psychological therapy refers to the use of psychological methods to improve thinking, emotions and behaviour. The aim is to facilitate optimal psychological health, resilience and wellbeing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div class="row" style="margin-top: 3rem">
        <div class="col-lg-3 d-flex align-items-center">
            <img class="img-fluid mx-auto" style="max-width: 255px; margin-bottom: 1.1rem;" src="/static/sunset.jpg">
        </div>
        <div class="col-lg-9 d-flex align-items-center">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <p class="text-center"><strong>Psychological Assessment - $ 250 per session (50 minutes)</strong></p>
                        <p> Psychological assessment refers to the use of psychological knowledge and theories to understand the nature of mental health conditions, and to assist in the process of diagnostic formation as well as treatment options. Reports or letters of support can be provided based on individual needs. Cost of report writing is also $ 250 per session (50 minutes).</p>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <p class="text-center"><strong></strong></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>
{% endblock content %}