{% extends "layout.html" %}
{% block content %}
<div class="container" style="margin-top: 3rem; margin-bottom: 3rem;">
    <h3 class="text-center"><strong>SERVICES | OFFER</strong></h3>
    <p class="text-center"><small>Personalized Care and Guidance</small></p>

    <div class="row" style="margin-top: 5rem">
        <div class="col-lg-3 d-flex align-items-center">
            <img class="img-fluid mx-auto" style="max-width: 255px; margin-bottom: 1.1rem;" src="/static/coffee.jpg">
        </div>
        <div class="col-lg-9 d-flex align-items-center">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <p class="text-center"><strong>Initial Consultation - $250</strong></p>
                        <p>This consultation forms the foundation for therapy. During this session, we work together to clarify your ongoing treatment needs and establish whether I am the right psychologist for you.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-center d-lg-none">
                    <img class="img-fluid mx-auto" style="max-width: 255px; margin-bottom: 1.1rem;" src="/static/flower.jpg">
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <p class="text-center"><strong>Psychological Therapy - $250</strong></p>
                        <p>Psychological therapy refers to the use of psychological methods to improve thinking, emotions and behaviour. The aim is to facilitate optimal psychological health, resilience and wellbeing.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div class="row" style="margin-top: 3rem">
        <div class="col-lg-3 d-flex align-items-center">
            <img class="img-fluid mx-auto" style="max-width: 255px; margin-bottom: 1.1rem;" src="/static/sunset.jpg">
        </div>
        <div class="col-lg-9 d-flex align-items-center">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <p class="text-center"><strong>Psychological Assessment - $ 250 per session (50 minutes)</strong></p>
                        <p> Psychological assessment refers to the use of psychological knowledge and theories to understand the nature of mental health conditions, and to assist in the process of diagnostic formation as well as treatment options. Reports or letters of support can be provided based on individual needs. Cost of report writing is also $ 250 per session (50 minutes).</p>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center">
                    <div>
                        <p class="text-center"><strong></strong></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 5rem; margin-bottom: 5rem;">
    <div class="row">
        <div class="col-lg-6 order-lg-2">
            <h3 class="text-center">Book Your Session</h3>
            <form action="/submit" method="post">
                <div class="row">
                        <div class="form-group col">
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name">
                        </div>
                        <div class="form-group col">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name">
                        </div>
                </div>
                <div class="row">
                        <div class="form-group col">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                        </div>
                        <div class="form-group col">
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
                        </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" id="message" name="message" placeholder="Message" rows="4"></textarea>
                </div>
                <div class="form-group col text-right"> <!-- Add this div with text-right class -->
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
              </form>
        </div>
        <div class="col-lg-6">
            <h3 style="margin-bottom: 1rem;">Contact Xavier</h3>
            <p>For more information you can contact me:</p>
            <p>Dr. Xavier Chiang Ph.D.<br>
            Email: <a href="mailto:drxavierchiang@gmail.com">drxavierchiang@gmail.com</a><br>
            Phone: (03) 9994 1765<br>
            Address: 50 Dudley Street, West Melbourne, VIC 3003<br>
            </p>
        </div>
    </div>
</div>
{% endblock content %}